---
import ImageNext from "./Image";

const { data, isProject } = Astro.props;
---

<div
  class="flex flex-col relative overflow-hidden h-auto text-foreground box-border backdrop-saturate-150 bg-background/70 outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 shadow-medium rounded-large transition-transform-background motion-reduce:transition-none py-2 border border-divider"
>
  <div
    class="relative flex w-full p-3 flex-auto flex-col place-content-inherit align-items-inherit h-auto break-words text-left subpixel-antialiased overflow-visible py-2"
  >
    <a
      href={`
     ${isProject ? "/project/" : "/blog/"}${data.slug}`}
      transition:name={`media-image-${data.slug}`}
    >
      <ImageNext
        image={data?.thumbnail?.url ? data.thumbnail.url : data.image.url}
        title={data.title}
      />
    </a>

    <div class="pb-0 pt-2 px-4 flex-col items-start">
      <h3 class="font-bold xl:text-large">{data.name}</h3>

      <div class="flex flex-wrap gap-2 mt-2">
        {
          data?.tags?.map((item: any) => (
            <span class="border border-divider font-bold px-3 text-sm rounded-full mt-0">
              {item}
            </span>
          ))
        }
      </div>
    </div>
  </div>
</div>
