---
import { SEO } from "astro-seo";
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";
import gradientLeft from "../assets/images/docs-left.png";
import gradientRight from "../assets/images/docs-right.png";
import Navbar from "../components/Navbar.jsx";
interface Props {
  title: string;
  description: string;
  image: any;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark text-foreground bg-background">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="IDBcCYJLFvM4FI5FoBMBQuiLHA0Ce4uZ9-4roGaPSxM" />
    <SEO
          title={title}
          description={description}
          openGraph={{
            basic: {
              title,
              type: "website",
              image,
            }
          }}
          extend={{
            link: [{ rel: "icon", href: "/favicon.ico" }],
            meta: [
              {
                name: "twitter:image",
                content: image,
              },
              { name: "twitter:title", content: title },
              { name: "twitter:description", content: description },
            ],
          }}
     />
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <div
      aria-hidden="true"
      class="fixed hidden dark:md:block dark:opacity-70 -bottom-[40%] -left-[20%] z-0"
    >
      <Image
        src={gradientLeft}
        class="relative z-10 opacity-0 shadow-black/5 data-[loaded=true]:opacity-100 shadow-none transition-transform-opacity motion-reduce:transition-none !duration-300 rounded-large"
        alt="docs left background"
        data-loaded="true"
      />
    </div>

    <div
      aria-hidden="true"
      class="fixed hidden dark:md:block dark:opacity-70 -top-[80%] -right-[60%] 2xl:-top-[60%] 2xl:-right-[45%] z-0 rotate-12"
    >
      <Image
        src={gradientRight}
        class="relative z-10 opacity-0 shadow-black/5 data-[loaded=true]:opacity-100 shadow-none transition-transform-opacity motion-reduce:transition-none !duration-300 rounded-large"
        alt="docs right background"
        data-loaded="true"
      />
    </div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      pre {
        margin: 1rem 0;
      }
      pre > code,
      code {
        padding: 1rem;
        width: 100%;
        display: block;
        margin: 0;
        max-height: 550px;
        overflow-x: auto;
      }

      .copy-code {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #000409;
        padding: 0.3em;
        border: 1px solid #202020;
      }

      .blog-content p {
        margin: 0.5rem 0;
        font-family: Helvetica, sans-serif;
      }

      .blog-content h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
        font-weight: 600;
      }

      .blog-content h3 {
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: 600;
      }

      .blog-content h4 {
        font-size: 1rem;
        margin: 1rem 0;
        font-weight: 600;
      }

      ul,
      menu {
        list-style: disc;
        padding: revert;
      }

      ol {
        list-style: decimal;
        padding: revert;
      }

      .blog-content a {
        font-weight: 600;
        text-decoration: none;
      }
    </style>
  </body>
</html>
